/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root .lpx-theme-dark {
  --lpx-logo: url('/assets/images/logo/icon.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}

:root .lpx-theme-light {
  --lpx-logo: url('/assets/images/logo/icon.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}
:root{
  --lpx-theme-light-bg: url('/assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('/assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('/assets/images/login/login-bg-img-dark.svg');
}

:root {
  --sidebar-bg: #313A46;
}

button {
  border-radius: 6px;
}

.p-datatable .p-datatable-header {
  background-color: white;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: white;
}

.p-2 {}

.col-12 {
  width: 100%;
}

.p-datatable .p-datatable-tbody > tr > td {
  border-width: 0 0 1px 0;
  border-color: rgb(206, 194, 194);  
}

.p-dropdown-items {
  padding: 0;
}

.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
}

.confirmation { z-index: 9999!important; }

a { text-decoration: none !important; }
ul { padding-left: unset;}

.p-component-overlay { background-color: rgb(255 255 255 / 40%) }

.lpx-breadcrumb li, .lpx-nav-menu li { padding: 5px 10px }
.lpx-nav-menu .lpx-menu-item-link.selected, .lpx-nav-menu .lpx-menu-item-link.expanded { background-color: unset; }
.lpx-sidebar { background-color: var(--sidebar-bg); }
.lpx-sidebar .lpx-logo-container { background-color: var(--sidebar-bg); }
.lpx-sidebar-container .lpx-sidebar .lpx-nav .lpx-nav-menu { background-color: var(--sidebar-bg); }
.lpx-sidebar-container { overflow: hidden; }
.lpx-topbar-container .lpx-topbar { padding: 15px; border-radius: unset; }
.lpx-content { min-height: unset; }
.p-toolbar { padding: unset; background: unset; border: unset; }
