<p-dialog 
  *ngIf="visible"
  #fundcard
    header="Header" 
    [(visible)]="visible" 
    [modal]="true" 
    [style]="{ width: '50rem' }">
    <div class="card flex flex-wrap gap-3 p-fluid">
        <div class="flex-auto">
            <label for="minmaxfraction">{{'::Amount' | abpLocalization}}</label>
            <p-inputNumber 
                inputId="minmaxfraction" 
                mode="decimal" 
                [minFractionDigits]="2" 
                [maxFractionDigits]="5"
                (onInput)="calculateFee()"
                [(ngModel)]="fundingAmount" /> 
            <label for="fee">{{'::Fee' | abpLocalization}}: </label>
            <span> {{ fundingFee }} </span>
        </div> 
        <p-button label="{{'::Fund' | abpLocalization}}" class="p-1" severity="success" (onClick)="fundCard(    )" />

    </div>
</p-dialog>
