.submit {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background-color: #007bff;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}