<div class="card">
    <p-tabMenu [model]="items" 
     [activeItem]="activeItem" 
     (activeItemChange)="onActiveItemChange($event)"
    />
    <p-table
        *ngIf="activeItem === items[0]"
        #dt2
        [value]="gateways"
        dataKey="id"
        [loading]="loading"
        [tableStyle]="{ 'min-width': '75rem' }"
    >
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-button label="{{ '::Add' | abpLocalization }}" *ngIf="isAllowAddGateway()" (click)="openAddGatewayModal()" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:5%">{{ '::Id' | abpLocalization }}</th>
            <th style="width:10%">{{ '::Action' | abpLocalization }}</th>
            <th style="width:20%">{{ '::Name' | abpLocalization }}</th>
            <th style="width:20%">{{ '::Description' | abpLocalization }}</th>
            <th style="width:10%">{{ '::FixedFee' | abpLocalization }}</th>
            <th style="width:10%">{{ '::PercentageFee' | abpLocalization }}</th>
            <th style="width:10%">{{ '::Type' | abpLocalization }}</th>
            <th style="width:10%">{{ '::IsEnabled' | abpLocalization }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-gateway let-rowIndex="rowIndex" >
        <tr>
                <td>{{rowIndex + 1}}</td>
                <td>
                    <p-button (onClick)="renderRowActions(gateway, $event);" icon="pi pi-ellipsis-v" [text]="true" [disabled]="isDisableMenu(gateway)" />
                </td>
                <td>
                    {{ gateway.name }}
                </td>
                <td>
                    {{ gateway.description }}
                </td>
                <td>
                    ${{ gateway.fixedFee }}
                </td>
                <td>
                    {{ gateway.percentageFee }}%
                </td>
                <td>
                    <span class="p-column-title">Status</span>
                    <p-tag [value]="getGatewayType(gateway)" [severity]="getType(gateway)" />
                </td>
                <td>
                    <span class="p-column-title">Status</span>
                    <p-tag [value]="gateway.isEnabled" [severity]="gateway.isEnabled ? 'info' : 'danger'" />
                </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">{{ '::NoData' | abpLocalization }}</td>
        </tr>
    </ng-template>
    </p-table>

    <p-table
        *ngIf="activeItem === items[1]"
        #dt2
        [value]="transactions"
        dataKey="id"
        [loading]="loading"
        [tableStyle]="{ 'min-width': '75rem' }"
    >
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-multiSelect class="ml-auto p-0 px-1"
                [options]="statuses" 
                [(ngModel)]="selectedStatus" 
                optionLabel="name" 
                placeholder="Select Status" />
            <p-iconField iconPosition="left">
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Search keyword" />
            </p-iconField>
            <p-button 
                label="Search" 
                icon="pi pi-check" 
                [loading]="loading" 
                (onClick)="loadTransactions()" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:5%">{{ '::Id' | abpLocalization }}</th>
            <th style="width:20%">{{ '::Amount' | abpLocalization }}</th>
            <th style="width:20%">{{ '::Status' | abpLocalization }}</th>
            <th style="width:10%">{{ '::ApproveAt' | abpLocalization }}</th>
            <th style="width:10%">{{ '::Comment' | abpLocalization }}</th>
            <th style="width:10%">{{ '::CreationTime' | abpLocalization }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction let-rowIndex="rowIndex" >
        <tr>
                <td>{{rowIndex + 1}}</td>
                <td>
                    {{ transaction.amount }}$
                </td>
                <td>
                    <span class="p-column-title">Status</span>
                    <p-tag [value]="getTransactionStatusType(transaction.transactionStatus)" [severity]="getTransactionType(transaction)" />
                </td>
                <td>
                    {{ transaction.approveAt }}
                </td>
                <td>
                    {{ transaction.comment }}
                </td>
                <td>
                    {{ transaction.creationTime | shortDateTime }}
                </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">{{ '::NoData' | abpLocalization }}</td>
        </tr>
    </ng-template>
    </p-table>

    <p-table
        *ngIf="activeItem === items[2]"
        #dt2
        [value]="allTransactions"
        dataKey="id"
        [loading]="loading"
        [tableStyle]="{ 'min-width': '75rem' }"
    >
        <ng-template pTemplate="caption">
        <div class="flex">
            <p-multiSelect class="ml-auto p-0 px-1"
                [options]="statuses" 
                [(ngModel)]="selectedStatus" 
                optionLabel="name" 
                placeholder="Select Status" />
            <p-iconField iconPosition="left">
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Search keyword" />
            </p-iconField>
            <p-button 
                label="Search" 
                icon="pi pi-check" 
                [loading]="loading" 
                (onClick)="loadAllTransactions()" />
        </div>
        
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:5%">{{ '::Id' | abpLocalization }}</th>
            <th style="width:20%">{{ '::Amount' | abpLocalization }}</th>
            <th style="width:10%">{{ '::Status' | abpLocalization }}</th>
            <th style="width:10%">{{ '::ApproveAt' | abpLocalization }}</th>
            <th style="width:10%">{{ '::Comment' | abpLocalization }}</th>
            <th style="width:10%">{{ '::CreationTime' | abpLocalization }}</th>
            <th style="width:20%">{{ '::Action' | abpLocalization }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction let-rowIndex="rowIndex" >
        <tr>
                <td>{{rowIndex + 1}}</td>
                <td>
                    {{ transaction.amount }}$
                </td>
                <td>
                    <span class="p-column-title">Status</span>
                    <p-tag [value]="getTransactionStatusType(transaction.transactionStatus)" [severity]="getTransactionType(transaction)" />
                </td>
                <td>
                    {{ transaction.approvedAt | shortDateTime}}
                </td>
                <td>
                    {{ transaction.comment }}
                </td>
                <td>
                    {{ transaction.creationTime | shortDateTime }}
                </td>
                <td>
                    <div *ngIf="isAllowAction(transaction)">
                        <p-toast />
                        <p-confirmPopup />
                        <p-button class="p-0 px-1" severity="success" (click)="approveConfirm($event, transaction.id)"  label="{{ '::Approve' | abpLocalization }}" />     
                        <p-button severity="danger" (click)="rejectConfirm($event, transaction.id)"  label="{{ '::Reject' | abpLocalization }}" />     
                    </div>
                </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">{{ '::NoData' | abpLocalization }}</td>
        </tr>
    </ng-template>
    </p-table>
</div>


<p-dialog 
    header="Header" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false" 
    [resizable]="false">
        <div *ngIf="visible" [innerHTML]="selectedGateway.guideContent"></div>
        <div *ngIf="visible"> <p-inputNumber 
            [(ngModel)]="inputAmount" 
            inputId="currency-us" 
            mode="currency" 
            currency="USD" 
            placeholder="{{ '::MinAmount' | abpLocalization }}: {{ selectedGateway.minAmount }}"
            locale="en-US" /> 
            <p-button 
                label="Submit" 
                class="p-button-success submit"                 (onClick)="submitDeposit()">
            </p-button>
            </div>
</p-dialog>

<p-dialog 
    header="{{ '::Add' | abpLocalization}}" 
    [(visible)]="addGatewayVisible" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false" 
    [resizable]="false">
        <div class="flex align-items-center gap-3 mb-3">
            <label for="firstname" class="font-semibold w-8rem">{{ '::Name' | abpLocalization }}</label>
            <input pInputText id="firstname" class="flex-auto" autocomplete="off" [(ngModel)]="createPaymentMethodInput.name" />
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="lastname" class="font-semibold w-8rem">{{ '::Description' | abpLocalization }}</label>
            <input pInputText id="lastname" class="flex-auto" autocomplete="off" [(ngModel)]="createPaymentMethodInput.description" />
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="binSupplier" class="font-semibold w-10rem">{{ '::Supplier' | abpLocalization }}</label>
            <p-dropdown 
                [options]="gatewayType" 
                [(ngModel)]="selectedGatewayType" 
                optionLabel="name" 
                placeholder="Select a Supplier" />
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="amount" class="font-semibold w-8rem">{{ '::FixedFee' | abpLocalization }} ($)</label>
            <p-inputNumber 
                class="flex-auto"
                inputId="minmaxfraction" 
                mode="decimal" 
                [minFractionDigits]="2" 
                [maxFractionDigits]="5"
                [(ngModel)]="createPaymentMethodInput.fixedFee" /> 
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="amount" class="font-semibold w-8rem">{{ '::PercentageFee' | abpLocalization }} (%)</label>
            <p-inputNumber 
                class="flex-auto"
                inputId="percent" 
                mode="decimal" 
                [min]="0" 
                [max]="100"
                [(ngModel)]="createPaymentMethodInput.percentageFee" /> 
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="amount" class="font-semibold w-8rem">{{ '::MinAmount' | abpLocalization }} ($)</label>
            <p-inputNumber 
                class="flex-auto"
                inputId="minmax" 
                mode="decimal" 
                [minFractionDigits]="2" 
                [maxFractionDigits]="5" 
                [(ngModel)]="createPaymentMethodInput.minAmount"  /> 
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="lastname" class="font-semibold w-8rem">{{ '::DepositGuide' | abpLocalization }}</label>
            <p-editor [style]="{ height: '320px' }" [(ngModel)]="createPaymentMethodInput.guideContent"  />
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Submit" (click)="addGateway()" />
        </div>
</p-dialog>

<p-menu #menu1 [model]="menuItems" [popup]="true" styleClass="w-full md:w-15rem" />
