<div class="card">

<p-dataView #dv [value]="bins" [layout]="layout">
    <ng-template pTemplate="header" *ngIf="canCreate">
        <button 
            *ngIf="isAllowCreateBin()"
            pButton 
            pRipple 
            label="{{ '::Add' | abpLocalization }}" 
            (click)="openCreateBinModal()"
            class="p-button-success">
        </button>
    </ng-template>
    <ng-template let-product pTemplate="grid" let-bins>
        <div class="grid grid-nogutter">
            <div class="sm:col-6 md:col-4 xl:col-3 p-2" *ngFor="let product of bins">
                <div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
                    <div class="surface-50 flex justify-content-center border-round p-3">
                        <div class="relative mx-auto">
                            <img class="border-round w-full" [src]="'https://cdn2.fptshop.com.vn/unsafe/Uploads/images/tin-tuc/172740/Originals/background-la-gi-1.jpg'" [alt]="product.name" style="max-width: 300px;" />
                        </div>
                    </div>
                    <div class="pt-4">
                        <div class="flex flex-row justify-content-between align-items-start gap-2">
                            <div>
                                <span class="font-medium text-secondary text-sm">{{ product.currency }}</span>
                                <div class="text-lg font-medium text-900 mt-1">{{ product.symbol }}{{ product.creationFixedFee }} - {{ product.creationPercentFee }}%</div>
                            </div>
                            <div class="surface-100 p-1" style="border-radius: 30px">
                                <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                    <span class="text-900 font-medium text-sm">5</span>
                                    <i class="pi pi-star-fill text-yellow-500"></i>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-column gap-4 mt-4">
                            <span class="text-2xl font-semibold">BIN - {{ product.name }}</span>
                            <div class="flex gap-2">
                                <p-button icon="pi pi-shopping-cart" class="flex-auto md:flex-initial white-space-nowrap" label="{{ '::Card:CreateCard' | abpLocalization }}" (onClick)="onCreateCardClicked($event, product.id)" *ngIf="isAllowCreateCard()" />
                                <p-button icon="pi pi-trash" class="flex-auto md:flex-initial white-space-nowrap" severity="danger" (onClick)="deleteBin(product.id)" *ngIf="isAllowDeleteBin()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
</div>


<p-dialog header="{{ '::Card:CreateCard' | abpLocalization }}" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="firstname" class="font-semibold w-6rem">{{ '::FirstName' | abpLocalization }}</label>
        <input pInputText id="firstname" class="flex-auto" [(ngModel)]="firstName" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="lastname" class="font-semibold w-6rem">{{ '::LastName' | abpLocalization }}</label>
        <input pInputText id="lastname" class="flex-auto" [(ngModel)]="lastName" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="amount" class="font-semibold w-6rem">{{ '::Amount' | abpLocalization }} ($)</label>
        <p-inputNumber 
            class="flex-auto"
            [(ngModel)]="amount" 
            inputId="minmaxfraction" 
            mode="decimal" 
            [minFractionDigits]="2" 
            [maxFractionDigits]="5" /> 
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="lastname" class="font-semibold w-6rem">{{ '::Note' | abpLocalization }}</label>
        <textarea 
            rows="5"
            cols="30" 
            pInputTextarea 
            [(ngModel)]="note">
        </textarea>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Random" (onClick)="randomData()" />
        <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
        <p-button label="Save" (onClick)="createCard()" />
    </div>
</p-dialog>


<p-dialog header="{{ '::Bin:AddBin' | abpLocalization }}" [modal]="true" [(visible)]="addBinVisible" [style]="{ width: '60rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="binName" class="font-semibold w-10rem">{{ '::Bin:Name' | abpLocalization }}</label>
        <input pInputText id="binName" class="flex-auto" [(ngModel)]="binName" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="binDescription" class="font-semibold w-10rem">{{ '::Description' | abpLocalization }}</label>
        <input pInputText id="binDescription" class="flex-auto" [(ngModel)]="binDescription" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="binSupplier" class="font-semibold w-10rem">{{ '::Supplier' | abpLocalization }}</label>
        <p-dropdown 
            [options]="suppliers" 
            [(ngModel)]="binSupplier" 
            optionLabel="name" 
            placeholder="Select a Supplier" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="binCurrency" class="font-semibold w-10rem">{{ '::Currency' | abpLocalization }}</label>
        <p-dropdown 
            [options]="currencies" 
            [(ngModel)]="binCurrencyId" 
            optionLabel="name" 
            placeholder="Select a Currency" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="binMapping" class="font-semibold w-10rem">{{ '::Bin:Mapping' | abpLocalization }}</label>
        <input pInputText id="binMapping" class="flex-auto" [(ngModel)]="binMapping" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="binCreationFixedFee" class="font-semibold w-10rem">{{ '::CreationFixedFee' | abpLocalization }}</label>
        <p-inputNumber 
            class="flex-auto"
            [(ngModel)]="binCreationFixedFee" 
            inputId="minmaxfraction" 
            mode="decimal" 
            [minFractionDigits]="2" 
            [maxFractionDigits]="5" /> 
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="binCreationPercentFee" class="font-semibold w-10rem">{{ '::CreationPercentageFee' | abpLocalization }}</label>
        <p-inputNumber 
            class="flex-auto"
            [(ngModel)]="binCreationPercentFee" 
            inputId="percent" 
            mode="decimal" 
            suffix="%"
            [min]="0"  
            [max]="100" /> 
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="binFundingFixedFee" class="font-semibold w-10rem">{{ '::FundingFixedFee' | abpLocalization }}</label>
        <p-inputNumber 
            class="flex-auto"
            [(ngModel)]="binFundingFixedFee" 
            inputId="minmaxfraction" 
            mode="decimal" 
            [minFractionDigits]="2" 
            [maxFractionDigits]="5" /> 
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="binFundingPercentFee" class="font-semibold w-10rem">{{ '::FundingPercentageFee' | abpLocalization }}</label>
        <p-inputNumber 
            class="flex-auto"
            [(ngModel)]="binFundingPercentFee" 
            inputId="percent" 
            suffix="%"
            [min]="0"  
            [max]="100" /> 
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="addBinVisible = false" />
        <p-button label="Save" (onClick)="createBin()" />
    </div>
</p-dialog>