<abp-page [title]="'::Menu:Home' | abpLocalization">
  <div class="card">
    <div class="card-header">{{ '::Notification' | abpLocalization }}</div>
    <div class="card-body">
      <p>
       
      </p>
      <p *ngIf="!hasLoggedIn">
        <a (click)="login()" class="btn btn-primary" role="button"
          ><i class="fa fa-sign-in me-1" aria-hidden="true"></i>{{ 'AbpAccount::Login' | abpLocalization }}</a
        >
      </p>
      <hr />
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-body">
      <div class="row">
        <div class="col-md-auto text-center">
          
        </div>
        <div class="col-md d-flex align-items-center">
          
        </div>
      </div>
    </div>
  </div>
</abp-page>
